/*Required for extra fonts to work
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Great+Vibes|Herr+Von+Muellerhoff|Meddon|Mr+De+Haviland|Rochester&display=swap');
*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Great+Vibes|&display=swap');

:root {
    --cream: #F9F1F0;
    --pale-pink: #FADCD9;
    --rose-quartz: #FADCD9;
    --dusty-rose: #F8AFA6;
    --dusty-rose-faded: rgba(248, 176, 166, 0.5);
    --dusty-dark: #F5C8C2;
    --coral: #F79489;
}

body {
    background-color: var(--cream);
    color: var(--cream);
    overflow: hidden;
    font-family: 'Amatic SC';
    /*Multiple fonts for toggle testing.
    font-family: 'Great Vibes';
    font-family: 'Herr Von Muellerhoff';
    font-family: 'Meddon';
    font-family: 'Mr De Haviland';
    font-family: 'Rochester';
    */
}
.noMargin {
    margin: 0!important;
}

.navbar {
    text-align: center;
}

.navbar-dark .navbar-brand {
    color: var(--cream);
}

.nav-back {
    background-color: var(--dusty-rose);
    opacity: 0.5;
    font-weight: 900;
}

.navbar-brand {
    font-size: 2rem;
    padding: 0;
}

.nav-link {
    font-size: 1.75rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

#rsvp {
    background-color: var(--dusty-rose);
    border-color: var(--dusty-dark);
    font-size: 2rem;
    font-weight: 700;
    display: none;
    padding: 10px 50px;
}

#rsvp:hover {
    background-color: var(--coral);
    border-color: var(--dusty-dark);
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem var(--dusty-rose);
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--dusty-rose);
}

.mainContentIndex {
    height: 100vh;
    background: url('../images/garavogue.jpg') no-repeat bottom right;
    background-size: 100%;
    background-position: center;
    opacity: 0.5;
    display: flex;
    background-size: cover;

}

#headingName {
    font-family: "Great Vibes";
    text-align: center;
    margin-top: 50%;
    font-size: 2rem;
    font-weight: 700;
    display: none;
    text-shadow: -2px 2px 4px #000;
}

svg {
    height: 50px;
    width: 50px;
}

.absolution {
    position: absolute;
}

#leftSVG {
    transform: scale(-1, 1)
}

#headingName2 {
    text-align: center;
    display: none;
    text-shadow: -2px 2px 3px #000;
}

.rsvpButton {
    text-align: center;
    padding: 40px;
}

.fa-pagelines {
    color: rgba(236, 181, 28, 0.945);
}

#RSVPTitle {
    color: black;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 50px;
}

#RSVPForm {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 50px;
}

.formPadding {
    padding: 10px;
}

#rsvpSubmit {
    background-color: var(--dusty-rose);
    border-color: var(--dusty-dark);
    font-size: 2rem;
    padding: 10px 50px;
    margin-top: 50px !important;
}

#rsvpSubmit:hover {
    background-color: var(--coral);
    border-color: var(--dusty-dark);
}

.form-control {
    font-size: 1.4rem;
    font-weight: 700;
}

.form-control:focus {
    border-color: var(--dusty-dark);
    box-shadow: 0 0 0 0.2rem rgba(245, 200, 194, .25)
}

#mapSurround {
    height: 640px;
    padding: 0;
    box-shadow: 0 0 0 0.4rem var(--dusty-rose-faded);
}

#map {
    height: 100%;

}

.selectorButton {
    background-color: var(--dusty-rose);
    border-color: var(--dusty-dark);
    font-size: 3rem;
    font-weight: 700;
    color: var(--cream);
    padding: 10px 50px;
    opacity: 0.5;
}

.selectorButton:hover,
.selectorButton:active,
.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: var(--coral);
    border-color: var(--dusty-dark);
    color: var(--cream);
}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 2.5rem;
        padding: 0 1.5rem;
    }

    svg {
        height: 200px;
        width: 200px;
    }

    #headingName {
        margin-top: 10%;
        font-size: 7.5rem;
    }

    #headingName2 {
        font-size: 3.5rem;

    }

    #rsvp {
        font-size: 2rem;
    }

}